<a href="https://colab.research.google.com/github/Saurav-gohill/Learnig-python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# A simple Calculator
a= int(input ("first number "))
c = input("you operation what you want : +, -, *, /, //, %, **  ")
b = int(input ("second number "))

if c == '+':
  print(a+b)
elif c == '-':
  print(a-b)
elif c == '*':
  print(a*b)
elif c == '/':
  print(a/b)
elif c == '//':
  print(a//b)
elif c == '%':
  print(a%b)
elif c == '**':
  print(a**b)
else:
  print("You enter wrong input")

In [ ]:
# Simple user credential
user = 'admin'
password = 'admin@123'

user1 = input("Enter your user name  : ")
passw = input("Enter your password to login  : ")

if(user1 == user and passw == password):
  print("login successful ")
  print("welcome ", user1)
elif(user1 == user):
  print("user password is incorrect ")
elif(passw == password):
  print("Invalid user name")
else:
  print("Invalid user name and passwod")

In [ ]:
# Print Grades
name = input("Enter your name : ")
marks = int(input("Enter your marks : "))
if marks >= 90:
  print(name," your Grade is A+ ")
elif marks >= 80:
  print(name," your Grade is A ")
elif marks >= 70:
  print(name," your Grade is B ")
elif marks >= 50:
  print(name," your Grade is C ")
else:
  print(name," your Grade is D ")

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
def pr():
  print("hi")

pr()

hi

In [ ]:
a= 10 # global variable
def fun():
  b=6 # local variable
  print(a)
  print(b)

print(a)
fun()

10
10
6

In [ ]:
''' pattern
  find prime number between 1 to 100
  wap to print max of three number
'''
for i in range(5,0,-1):
  for j in range(i):
    print("*",end="")
  print()

*****
****
***
**
*

In [ ]:
a=10
b=12
c=8


if a>b and a>c:
  print(a)
elif b>c and a>c:
  print(b)
else:
  print(c)

12

In [ ]:
max(a,b,c)

12

In [ ]:
for i in range(2, 101):
  bo =True
  for j in range(2, int(i/2)):
    if i % j == 0:
      bo = False
      break
  if bo:
    print(i,end=" ")

2 3 4 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
a = 2000

if (a%4 == 0 and a%100 !=0) or a%400 == 0:
  print("Leaf year")
else :
  print("Not a Leap year")

Leaf year

In [ ]:
# unions
set1 = {1,2,4,6,7}
set2 = {3,5,6,7}

res = set1 | set2
res2 = set1.union(set2)
print(res2)
print(res)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# intersection
res = set1 & set2
res2 = set1.intersection(set2)
print(res2)
print(res)

{6, 7}
{6, 7}

In [ ]:
# difference
set1 = {1,2,4,6,7}
set2 = {3,5,6,7}
res = set1 - set2
res2 = set1.difference(set2)
print(res)
print(res2)

{1, 2, 4}
{1, 2, 4}

In [ ]:
# semmetric
res = set1 ^ set2
res2 = set1.symmetric_difference(set2)
print(res2)
print(res)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
# todo list using list
list1 = []

In [ ]:
# Counting Unique words in text

text="In this tutorial we are discussing about sets this we are"
words = text.split()
print(words)
unique = set(words)
print(unique)
print(len(unique))

['In', 'this', 'tutorial', 'we', 'are', 'discussing', 'about', 'sets', 'this', 'we', 'are']
{'discussing', 'tutorial', 'are', 'about', 'sets', 'In', 'this', 'we'}
8

In [ ]:
signup = [101,102,103,104,105,101,102]
attend = [102,103,104,107]
list1 = signup+attend
print(list1)

signup_set = set(signup)

result = {}

for i in list1:
  if i in signup:
    if i in attend:
      result[i] = "attended"
    else:
      result[i] = "Absent"
  else:
    result[i] = "Attend not sign up"

print(result)

[101, 102, 103, 104, 105, 101, 102, 102, 103, 104, 107]
{101: 'Absent', 102: 'attended', 103: 'attended', 104: 'attended', 105: 'Absent', 107: 'Attend not sign up'}